<a href="https://colab.research.google.com/github/samir-m2jhi/python_basic_Dec_2025/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic_part

In [2]:
a=1
b=20
print(a,b)
print("a,b")
print(id(a),id(b))
a_b=34
print(a_b)

1 20
a,b
11654376 11654984
34

In [3]:
a="Hello"
b="Samir"
c="34"
print(a+c)
print(a+b)
print(a,b)
print(a+"     "+b)

Hello34
HelloSamir
Hello Samir
Hello     Samir

In [4]:
a=100
b=26
print(a%3) #reminder
print(a**3) #a*a*a
print(a//b) #gives answer of division in division

1
1000000
3

In [5]:
a=54
a+=5
a-=5 # a=a-5
print(a)

54

In [6]:
a=30
b=300
print(a==b)
print(a!=b)
print(a>=b)
print(a<b and b!=a)
print(a>b or a!=b)
not (print(a>b or a!=b))

False
True
False
True
True
True

True

In [7]:
a = "Hell1o"
print('H' in a)
print('1' in a)
a=[1,2,5,6,7]
print(2 not in a)
b=['samir','sam','s']
print('s' in b)

True
True
False
True

In [8]:
a='samir'
y='ram'
print(a is y) #a==y
print(a is not y) # a!=y

False
True

In [9]:
x=20
y=24
print(bin(y))
print(bin(x))
print(x&y,bin(x&y))
print(x|y,bin(x|y))
print(x^y,bin(x^y))

0b11000
0b10100
16 0b10000
28 0b11100
12 0b1100

In [10]:
a=40
a=5.5
print(a,type(a))
a=10+1j
print(a,type(a))
s= ("ram is"
    "asedaed ")
a='''ram is good boy
        who can jump'''
print(a)

5.5 <class 'float'>
(10+1j) <class 'complex'>
ram is good boy
        who can jump

In [11]:
a=[1,2,3,4,5,'samir']
print(a)
a[1]="Hello"
print(a)
s=(1,2,3,4,"samir")
print(s)
s={
    'name':'samir Majhi',
    2:" 2 is a number"
}
print(s)
print(s[2])

[1, 2, 3, 4, 5, 'samir']
[1, 'Hello', 3, 4, 5, 'samir']
(1, 2, 3, 4, 'samir')
{'name': 'samir Majhi', 2: ' 2 is a number'}
 2 is a number

In [12]:
a=float(input("Enter the value: "))
b=float(input("enter the second value: "))

print(a+b) #eval() is for both int and float also for binary

Enter the value: 12
enter the second value: 15
27.0

In [13]:
a=int(input("Enter the number: "))

if a%2==0:
    print(a,"even number")
else:
    print("odd number")

Enter the number: 12
12 even number

In [14]:
#range(5)
#start 0
#condition<5
#increment 1
#range(1,6)
#srtar 1
#coindition<6
#increment 1
#range(2,6,3)
#start 2
#condition<6
#increment 3
for n in range(1,11,1):
    print("2 * ",n,"=",n*2)

2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20

In [15]:
#start
#condition
#increment/decrement
i=1
while i<=10:
    print(i)
    print("samir",i)
    i+=1

1
samir 1
2
samir 2
3
samir 3
4
samir 4
5
samir 5
6
samir 6
7
samir 7
8
samir 8
9
samir 9
10
samir 10

In [16]:
a="Samir Majhi"
print(a[-2])
print(a[0:5])
print(a[0:12:2])
#a[start,conditipn,increment]
print(a[-1::-1])

h
Samir
SmrMji
ihjaM rimaS

In [17]:
s="Hello samir Majhi"
a=len(s)
print(a)
for n in range(a):
    print(s[n])
for n in range(a-1,-1,-1):
    print(s[n])

17
H
e
l
l
o

s
a
m
i
r

M
a
j
h
i
i
h
j
a
M

r
i
m
a
s

o
l
l
e
H

In [18]:
S = "My name is samir majhi. so what!"
print(S.lower())
print(S.upper())
print(S.title())
print(S.capitalize())

my name is samir majhi. so what!
MY NAME IS SAMIR MAJHI. SO WHAT!
My Name Is Samir Majhi. So What!
My name is samir majhi. so what!

In [19]:
S = " my college name is thapathali campus"
print(S.find('g',2)) #find('e',starting_position
#index() is also same as find()
#isalpha()  to check it is a alphabets or not
#isdgit()
print(S.isalpha()) #due to space
print(S.isalnum())

9
False
False

In [20]:
a=66
print(chr(a))
a = "r"
print(ord(a))
s= "My nname is samirmajhi"
a = len(s)
for n in range(a):
    print(ord(s[n]))

B
114
77
121
32
110
110
97
109
101
32
105
115
32
115
97
109
105
114
109
97
106
104
105

In [23]:
tex1 = " My college {} {} is {}".format("Roll","No","079bce111")
print(tex1)
a= "name is {a:^10} and {b}".format(a="samir",b="hari")
print(a)
    #^ mid
    # >: -----10
    #<: 10------

 My college Roll No is 079bce111
name is   samir    and hari

In [22]:
#List


l= [1,2,34,45,47,[1,2,5]]
print(l[5])
print(l[5][2])
print(len(l))
print(type(l))
print(l[2::2]) #[start:condition:increment]
a = len(l)
#for n in range(a):
  #  print(l[n])
for n in range(a-1,-1,-1):
    print(l[n])


for a in l:
    print(a)

[1, 2, 5]
5
6
<class 'list'>
[34, 47]
[1, 2, 5]
47
45
34
2
1
1
2
34
45
47
[1, 2, 5]

In [24]:
s = [1,2,3,4,3,23,4,54]
del s[4]
print(s)
s.pop(3)
print(s,s.pop())

s.remove(2)
print(s)
#s.clear()
print(s)
s[0]="samir"
print(s)
s.insert(0,"ram")
print(s)
s.append("hero")
print(s)
a=[40,20]
s.append(a)
print(s)
s.extend(a)
print(s)

[1, 2, 3, 4, 23, 4, 54]
[1, 2, 3, 23, 4] 54
[1, 3, 23, 4]
[1, 3, 23, 4]
['samir', 3, 23, 4]
['ram', 'samir', 3, 23, 4]
['ram', 'samir', 3, 23, 4, 'hero']
['ram', 'samir', 3, 23, 4, 'hero', [40, 20]]
['ram', 'samir', 3, 23, 4, 'hero', [40, 20], 40, 20]

In [25]:
l=[]
for a in range(1,101):
    l.append(a)
print(l)
l=[m for m in range(1,101)]
print(l)
n=[h for h in range(1,101) if h%2==0]
print(n)
s='hello'
d=[g for g in s]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
['h', 'e', 'l', 'l', 'o']

In [26]:
l=[10,1,2,3,4,1,2,]
print(l.count(1))
print(max(l))
print(min(l))
l.sort()
print(l)
l.reverse()
print(l)
n=['samir','romanb','zebra']
print(max(n))
print(min(n))
print(l.index(2))

2
10
1
[1, 1, 2, 2, 3, 4, 10]
[10, 4, 3, 2, 2, 1, 1]
zebra
romanb
3

In [27]:
l=[10,20,30,40]
s=[2,3,4,5]
t=len(l)
for a,b in zip(l,s):
    print(a,b)
for n in range(t):
    print(l[n],s[n])

10 2
20 3
30 4
40 5
10 2
20 3
30 4
40 5

In [ ]:
n=input("Enter the value: ")
print(n)
l=n.split();
print(l)

In [ ]:
l=[]
for a in range(1,5):
    n=input("Enter The value" +str(a)+" : ")
    l.append(n)
print(l)

In [ ]:
l=[]
while True:
    c=int(input('''
    1. push elements
    2 Pop elements
    3 peek elements
    4 Display stack
    5 Exit

    '''))
    if c==1:
        n = input("Enter The value")
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("Empty stack")
        else:
            p = l.pop()
            print(p)
            print(l)
    elif c==3:
        if len(l)==0:
            print("Empty stack")
        else:
            print("Last stack value",l[-1])

    elif c==4:
        print("Display stack",1)
    elif c==5:
        break;

In [ ]:
l = []
while True:
    c = int(input('''
    1. push elements
    2 Pop first elements
    3 front elements
    4 last elements
    5 Display stack
    6 Exit

    '''))
    if c == 1:
        n = input("Enter The value")
        l.append(n)
        print(l)
    elif c == 2:
        if len(l) == 0:
            print("Empty stack")
        else:
            del l[0]

            print(l)
    elif c == 3:
        if len(l) == 0:
            print("Empty stack")
        else:
            print("first stack value", l[0])
    elif c == 4:
        if len(l) == 0:
            print("Empty stack")
        else:
            print("first stack value", l[-1])

    elif c == 5:
        print("Display stack", l)
    elif c == 6:
        break;

In [ ]:
d={
    'name':'samir',1:'roll no',2:'ram'
}
print(d[1])
for n in d:
    print(n)
    print(d[n])

In [ ]:
from idlelib.editor import keynames

d = {
    'name':'Ram',
    'College':'Thapathali',
    'ROll NO':111
}
c=d.get('name')
c1=d['College']
print(c,c1)
for a in d.keys():
    print(a,':',d[a])
for n in d.values():
    print(n)
del d['name']
for a,b in d.items():
    print(a,b)
r=d.pop('ROll NO')
print(r)
d.update({'College':'Pulchock'})
print(d)
d['samir']='Majhi'
print(d)
d.clear()
print(d)

In [ ]:
d= {
    'bikes':{1:'xr190','2':'scramler','3':'adventure'},
    'cars':{1:'tyota','2':'bmw','3':'Rr'},
    'truck':{1:'tata','2':'ashok'}
}
#print(d)
for a,b in d.items():
    print(a,b[1])

# calculator

In [ ]:
print('''
+ Add
- suntract
* multply
/ divide''')
a=eval(input('Enter number1: '))
b=eval(input('Enter number2:'))
opr=input("Enter the operator: ")
if opr=="+":
    print(a+b)
elif opr=="-":
    print(a-b)
elif opr=="*":
    print((a*b))
elif opr=='/':
    print(a/b)
else:
    print("Not valid operator")